.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.nav-item .nav-link{
    padding: 8px 30px;
    border-bottom: 1px solid #EDF1FF
}